*{
    margin: 0px;
    padding: 0px;
    font-family:monospace;
}

body{
    background-color: #49a87c;
}

.container{
    max-width: 350px;
    height: 140px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.700);
    padding: 25px;
    margin-top: 220px;
    border-radius: 90px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 0px black;
    transition: max-width,height,box-shadow; 
    transition-duration: 500ms;
}

@media(max-width:760px){
.container{
    max-width: 280px;
    height: 140px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.700);
    padding: 25px;
    margin-top: 220px;
    border-radius: 90px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 0px black;
    transition: max-width,height,box-shadow; 
    transition-duration: 500ms;}
}

h1{
    text-align: center;
    font-weight: normal;
    font-size: 60px;
    margin-top: auto;
    margin-bottom:20px;
    color:#49a87c;
    transition: font-size;
    transition-duration: 1s;
}

button{
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: white;
    padding: 7px;
    transition: color, border-color,background-color; 
    transition-duration: 300ms;
}

button:hover{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: black;
    padding: 7px;
    color:white;
    border-color:#49a87c;
    cursor: pointer;  
}

.dev{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 16%;
    text-shadow: 1px 1px 3px black;
    transition: font-size,text-shadow;
    transition-duration: 300ms;
}

.dev:hover{
    font-size: 22px;
    text-shadow: 1px 1px 6px black;
    cursor: default;
}

@media(max-width:760px){
.dev{
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 20%;
    text-shadow: 1px 1px 3px black;
    transition: font-size,text-shadow;
    transition-duration: 300ms;}
}

@media(max-width:760px){
.dev:hover{
    font-size: 20px;
    text-shadow: 1px 1px 6px black;
    cursor: default;}
}

